body {
	color: Black;
	font-family:Courier;
	width:960px;
	margin:auto;
	margin:auto;
  	background-color:#ffffff;
  	opacity:0.6;
  	filter:alpha(opacity=60);
}

html { 
  background: url(https://www.msu.edu/~mooreth6/pics/beaumont.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header, main, footer {
	clear:both;
	margin-left:0;
	width:960px;
	
}

header, main, h1, h2 {
	color: #003366;
}

a, a:visited {
	color: black;
	text-decoration:none;
}

a:hover {
	color: black;
	text-decoration: none;
}

#nav {
	list-style: none;
	width:960px;
	margin-left:-40px;
	
}

#nav li {
	display:block;
	float: left;
	padding:5px;
	margin-bottom:20px;
	margin-right:10px;
	height:30px;
	width:110px;
	text-align:center;
	font-size:13px;
	 border-radius: 5px 20px 5px;
	 background: #336699;
}

#menu {
	width:150px;
	display: block;
	float:left;
	margin-left:-40px;
	}

#menu ul {
	list-style: none;
	float:left;
	margin-left:0;
	border-right: 1px solid #c0c0c0;
	}
	
#menu li {
	width: 125px;
	padding:5px;
	margin-bottom:10px;
	font-size:13px;
	}
	
article {
	width:800px;
	display: block;
	float:right;
	}
	
h1 	{text-align:center;}
	
	

